@model StudentManagementSystem.Models.ViewModels.FacultyViewModel

<h2>Faculty Registration: </h2>
<form method="post">
    <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="Email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputFullName">Full Name</label>
        <input type="text" class="form-control" id="exampleInputFullName" asp-for="FacultyName">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputPhoneNo">Phone Number</label>
        <input type="number" class="form-control" id="exampleInputPhoneNo" asp-for="phoneNo">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputDesignation">Designation</label>
        <input type="text" class="form-control" id="exampleInputDesignation" asp-for="designation">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputAddress">Address</label>
        <input type="text" class="form-control" id="exampleInputAddress" asp-for="Address">
    </div>
    <div class="mb-3">
        <label class="form-label" for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword" asp-for="Password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
