@model StudentManagementSystem.Models.ViewModels.StudentViewModel

}



<form method="post" >
    
  <div class="mb-3">
    <label class="form-label">Roll No</label>
    <input type="number" class="form-control" id="exampleInputEmail1" asp-for="RollNo" readonly>
  </div>
  <div class="mb-3">
    <label class="form-label">UserName</label>
    <input type="text" class="form-control" id="exampleInputEmail1" asp-for="UserName">
  </div>
   <div class="mb-3">
    <label class="form-label">Full Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" asp-for="FullName">
  </div>
   <div class="mb-3">
    <label class="form-label">Date Of Birth</label>
    <input type="date" class="form-control" id="exampleInputEmail1" asp-for="DateOfBirth">
  </div>
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" id="btnradio1" autocomplete="off" value="Male" asp-for="Gender">
  <label class="btn btn-outline-primary" for="btnradio1">Male</label>

  <input type="radio" class="btn-check" id="btnradio2" autocomplete="off" value="Female" asp-for="Gender">
  <label class="btn btn-outline-primary" for="btnradio2">Female</label>
</div>
   <div class="mb-3">
    <label class="form-label">Phone No </label>
    <input type="number" class="form-control" id="exampleInputEmail1" asp-for="PhoneNo">
  </div>
   <div class="mb-3">
    <label class="form-label">Address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" asp-for="Address">
  </div>


 
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="submit" class="btn btn-denger" asp-controller="Student" asp-action="DeleteStudent">Delete</button>
 
</form>